@import 'tailwindcss';

@theme {
    --font-sans:
        'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
    @apply bg-white dark:bg-neutral-900;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }

    @media (prefers-color-scheme: light) {
        color-scheme: light;
    }

    @apply text-neutral-900 dark:text-neutral-100;
    @apply antialiased;
    height: 100vh;
}

body {
    display: grid;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@page {
    size: A3 landscape; /* Set page size */
    margin: none; /* Set page margins */
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}